.safetyPageContainer {
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
}
h1 {
    color: #35523c;
    text-align: center;
    margin: 0;
}
h2 {
    text-align: center;
    color: #35523c;
    margin-top: 50px;
    margin-bottom: 0;
}
p {
    text-align: center;
    color: #35523c;
}
ol {
    color: #35523c;
    background-color: #b4c4b3;
    margin: 10px 0;
    margin-bottom: 0;
    border-radius: 25px;
}
nav ul {
    background-color: #b4c4b3;
    border-radius: 25px;
    list-style: none; /* Removes bullets */
    padding: 10px 20px;
    margin: 0;        /* Removes default margin */
    text-align: center; /* Centers the text of list items */
}
  
nav li {
    display: inline;    /* Makes list items display in-line */
    margin-right: 10px; /* Adds some space between the list items */
}
  