body {
    background-color: #ebe4d1;
    margin-left: 70px;
    
}

h1 {
    color: #35523C;
}

p {
    font-size: 20px;
    word-wrap: break-word;
}


.infoDiv{
    font-size: 20px;
    line-height: 1.5;
}

.firstName{
    margin-left: 80px;
}

.lastName{
    margin-left: 80px;
}

.phoneNumber{
    margin-left: 40px;
}

.first{
    margin-left: 27px;
}

.third{
    margin-left: 20px;
}

.fourth{
    margin-left: 9px;
}

.button{
    margin-top: 60px;
    width: 70px;
    height: 30px;
}

#displayArea{
    width: 43%;
    display: inline-block;
    margin-left: 700px;
    margin-top: -300px;
    background-color: #b4c4b3;
    border-radius: 25px;
    padding: 30px 20px;
}

.personal-info-input {
    background: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid 35523C;
    outline: none;
    width: 80vw;
    max-width: 300px;
    font-size: 1em;
    transition: padding 0.3s 0.2s ease;
    margin-left: 1rem;
    padding: 1rem 1rem 0.2rem 1rem;
}
